<div class="row-fluid">
  <div class="col-md-12">
    <h3 class="page-title">
			Hai mz<small>{{@system.user.nama}}</small>
		</h3>
  </div>
</div>
<div class="row-fluid margin-bottom-20">
  <div class="col-md-12">
    <p>Eh, hai maz {{@system.user.username}}. Baik bos?</p>
  </div>
</div>
