<div class="row-fluid">
  <div class="col-md-12">
    <h3 class="page-title">
			Sorry mz <small>Error Pertama</small>
		</h3>
  </div>
</div>
<div class="row-fluid margin-bottom-20">
  <div class="col-md-12">
    <p>Sorry Mz, tapi keliatannya anda belum cuci ketek, <i>Ehh!</i> Anda belum memassukan Credential Databasenya. Apa mungkin boss
    lupa caranya? Tanya ama yang buatnya aja gih.</p>
  </div>
</div>
